[Desktop Entry]
Name=chromium kiosk
Exec=chromium http://127.0.0.1:8888/ --kiosk --noerrdialogs --disable-infobars --no-first-run --enable-features=OverlayScrollbar --start-maximized --password-store=basic --disable-features=DbusSecretPortal
Type=Application
