################################################################
# jbox.env special parameters for jukebox                      #
################################################################
######   Copyright (c) Simon McKenna 11/35  Version 0.2   ######
################################################################

# debug - comment these out for production
# FLASK_ENV=development
JBOX_USE_PROD_PORT=1
JBOX_DEBUG=1

# Authentication
SPOTIPY_CLIENT_ID="<CLIENT ID>"
SPOTIPY_CLIENT_SECRET="<CLIENT SECRET>"

#CA CERTIFICATES
REQUESTS_CA_BUNDLE="/etc/ssl/certs/ca-certificates.crt"

JBOX_DBPATH="/srv/jukebox/db/jukebox.db"

JBOX_PROD_PORT=8888
JBOX_DBG_PORT=7777
JBOX_HOST="http://127.0.0.1"

SPOTIFY_REDIRECT_PATH="/"

