################################################################
# jbox.env special parameters for jukebox                      #
################################################################
######   Copyright (c) Simon McKenna 11/35  Version 0.2   ######
################################################################

# Authentication
export SPOTIPY_CLIENT_ID="<CLIENT ID>"
export SPOTIPY_CLIENT_SECRET="<CLIENT SECRET>"

#CA CERTIFICATES
export REQUESTS_CA_BUNDLE="/etc/ssl/certs/ca-certificates.crt"

export JBOX_DBPATH="/srv/jukebox/db/jukebox.db"
export JBOX_PROD_PORT=8888
export JBOX_DBG_PORT=7777
export JBOX_HOST="http://127.0.0.1"
export SPOTIFY_REDIRECT_PATH="/"

# debug - comment these out for production
export FLASK_ENV=development
export JBOX_DEBUG=1
# This  is commented out to use debug port and not 
# conflict with nginx in 8888
# JBOX_USE_PROD_PORT=1
